@import "tailwindcss";


:root {
  --font-family-base: var(--font-inter);
}

body {
  font-family: var(--font-family-base), sans-serif;
}


@theme {
  --color-primary: #a2c5f4;
  --color-secondary: #00bfa5;
  --color-secondary-100: #00e5c6;
  --color-secondary-200: #008c78;
}
